body{
	margin:0;
	background-color:#E4E4E4;
}

.form{
	margin:20px;
	float:left;
	width:40%;
}

.respcuer{
	margin-top:100px;
	
	float:left;
	width:40%;
}

.pie{
	float:left;
	width:100%;
	margin-top:80px;;
	
}
@media screen and(max-width: 1000px){
	.form, .respcuer,.pie{
		width:100%;
	}
}
