.cabecera {
  background-color: #1A106D;
  height: 100%;
  width: 100p%;
}
.logo1{
	height: 100px;
	width:250px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1A1064;
  overflow: hidden;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #1A106D;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1A106D;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #1A106D;
}

.dropdown:hover .dropdown-content {
  display: block;
}