body{
	margin:0;
	background-color:#E4E4E4;
}
.completo{
	margin-top:30px;
}


.tit{

	margin:20px;
	padding:20px;
	float:left;
	width:40%;
}
.form{
	margin:20px;
	float:left;
	width:40%;
}

.pie{
	float:left;
	width:100%;
	margin-top:80px;;
	
}


@media screen and(max-width: 1000px){
	.tit, .form,.pie{
		width:100%;
	}
}

